<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87000291885-sqffish0loq0jc3204jt36vm5u3m71aq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87000291885-sqffish0loq0jc3204jt36vm5u3m71aq</string>
	<key>API_KEY</key>
	<string>AIzaSyCPoAXJANCCee_2sfV38Tpb6ZZPuaIn9iU</string>
	<key>GCM_SENDER_ID</key>
	<string>87000291885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.order</string>
	<key>PROJECT_ID</key>
	<string>food-fa54e</string>
	<key>STORAGE_BUCKET</key>
	<string>food-fa54e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87000291885:ios:24b60f84c38392b22a76a4</string>
</dict>
</plist>